<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Best Deal: LogIn </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>LogIn</h1>
	<div class="container">
	<form th:action="@{/login}" method="POST" class="form-signin">
    	<p>Username: <input type="text" th:placeholder="username" name="username" class="from-control" /></p>
        <p>Password: <input type="password" th:placeholder="password" name="password" class="from-control"/></p>
        <div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
		</div>
        <p><button class="btn btn-lg btn-primary btn-block" type="submit" value="LogIn" th:text="Login"></button>
         </p>
    </form>
       
        <a href="/createAccount">Create new account</a>
    </div>
</body>
</html>