<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Best Deal: LogIn </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1>LogIn</h1>

	<form th:action="@{/loginStaf}"  method="POST" th:object="${staff}" >
    	           <p><label for="nameUser" class="control-label">Username</label>
                    <input id="nameUser"
                           class="form-control"
                           th:field="*{nameStaff}"/></p>           

                    <p><label for="password" class="control-label">Password</label>
                    <input id="password"
                           class="form-control"
                           type="password"
                           th:field="*{password}"/></p>
        <span th:text="${error}"></span>
       <p>&nbsp; <input type="submit" value="Login"/></p>
    </form>
       

</body>
</html>